a,
a:focus,
a:hover {
 color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
 color: #333;
 text-shadow: none;
 background-color: #333;
 border: .05rem solid #fff;
}

html,
body {
 height: 100%;
 background-color: #375378;
}

body {
 display: -ms-flexbox;
 display: flex;
 color: #fff;
 text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
 box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
 max-width: 42em;
}


.masthead {
 margin-bottom: 2rem;
}

.masthead-brand {
 margin-bottom: 0;
}

.nav-masthead .nav-link {
 padding: .25rem 0;
 font-weight: 700;
 color: rgba(255, 255, 255, .5);
 background-color: transparent;
 border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
 border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
 margin-left: 1rem;
}

.nav-masthead .active {
 color: #fff;
 border-bottom-color: #fff;
}

@media (min-width: 48em) {
 .masthead-brand {
   float: left;
 }
 .nav-masthead {
   float: right;
 }
}

.cover {
 padding: 0 1.5rem;
}
.cover .btn-lg {
 padding: .75rem 1.25rem;
 font-weight: 700;
 text-align:center;
}

.mastfoot {
 text-align: center;
 color: rgba(255, 255, 255, .5);
}

.div-telaLogin {
	width: 100%;
	max-width: 400px;
	padding: 5px;
	margin: 0 auto;
}

.div-telaLogin button {
	font-size: 22px;
	padding: 5px 20px;
}

.div-listaOpcoes {
	text-align: center;
	font-size: 22px;
}

.div-corpoConteudo {
	padding: 5rem 1.5rem;
	text-align: center;
}

.tabelaListagem {
	margin-bottom:2px;
}
.tabelaListagem th {
	padding: 5px;
}
.tabelaListagem td {
	padding: 5px;
}

.painelLista {
	background-color:#234;
	margin-top:10px;
	margin-bottom:0px;
	padding: .5rem;
	text-align:right;
}

.selecaoLista {
	background-color:#234;
	margin-top:0px;
	margin-bottom:0px;
	padding: .35rem;
	text-align:center;
	font-size: 1.3rem;
}